<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MC Hub</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body style="background-blend-mode: multiply;">

<header>
  <div class="logo">MC<span>//</span>HUB</div>
</header>

<main>
  <section>
    <div class="section-label">// серверы</div>
    <div class="servers" id="servers">
      <div class="server-card">
        <div class="server-name">
          <span class="status-dot unknown"></span>
          загрузка...
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="section-label">// сборки</div>
    <div class="modpacks" id="modpacks">
      <div class="empty">загрузка...</div>
    </div>
  </section>
</main>

<footer>
  <span>MC//HUB</span>
  <span>только для своих</span>
</footer>

<div class="toast" id="toast">скопировано ✓</div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>